.topbar{
    height: 50px;
    background-color: #9500B3;
    padding: 8px;
}

#mainView {
    padding-bottom: 160px;
}

.btn-home {
    color: white;
    font-size: 1.6em;
    transition: color 0.2s ease-in-out;
}

.btn-home:hover {
    color: #440066;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.botbar{
    height: 150px;
    background-color: #9500B3;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    color: white;
    text-align: center;
    padding: 55px;
}

.btn-invert {
    background-color: #323340;
    color: white;
}

.btn-invert:hover {
    background-color: #404045;
    color: white;
}