.topbar{
    height: 50px;
    background-color: #9500B3;
    padding: 8px;
    width: 100%;
    position: fixed;
    z-index: 999;
    transition: background-color 0.2s ease-in-out;
}

#mainView {
    padding-bottom: 160px;
    padding-top: 45px;
    transition: opacity 0.5s ease-in-out;  
}

.btn-home {
    color: #aaa;
    font-size: 1.6em;
    transition: color 0.2s ease-in-out;
}
.btn-home:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.btn-skin {
    margin-bottom: 10px;
    margin-left: 10px;
}


.botbar{
    height: 40px;
    background-color: #9500B3;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 999;
    transition: background-color 0.2s ease-in-out;
    -webkit-transition: translate 3s ease-in-out;
}

.btn-invert {
    background-color: #323340;
    color: white;
}

.btn-invert:hover {
    background-color: #555;
    color: white;
}

.remanimate {
    -webkit-animation: setremovalcolor 1s;
    animation: setremovalcolor 1s;
}

@-webkit-keyframes setremovalcolor {
    to {background: red;}
}

.ninja {
    background-color: #222222;
    transition: background-color 0.2s ease-in-out;
}

.tile {
    background-color: #323340;
    height:250px;
    padding: 15px;
    margin-bottom: 15px;
    transition: background-color 0.2s ease-in-out;
    font-size: 50px;
    color: white;
}

.tile:hover {
    background-color: #555;
    transition: background-color 0.2s ease-in-out;
}

.tilecontent{
    width:100%;
    height:100%;
}

.transition-opac-fade-in {
    opacity: 1;  
}

.transition-opac-fade-out {
    opacity: 0;
}

.cheattile{
    background-image: url(/ressources/avat.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}
