<h1><i class="fa fa-home"></i> Home</h1>
<a class="btn btn-lg btn-primary btn-nav" id="monitoringBtn" app="Monitoring" href="#/Monitoring"><i class="fa fa-pie-chart"></i></a>
<a class="btn btn-lg btn-invert btn-nav" id="monitoringBtn" app="Bash" href="#/Bash"><i class="fa fa-terminal"></i></a>
<a class="btn btn-lg btn-success btn-nav" id="chatBtn" app="Chat" href="#/Chat"><i class="fa fa-weixin"></i></a>
<a class="btn btn-lg btn-warning btn-nav" id="remBtn" app="Reminder" href="#/Reminder"><i class="fa fa-list-ul"></i></a>
<a class="btn btn-lg btn-invert btn-nav" id="chtBtn" app="CheatSheets" href="#/CheatSheets"><i class="fa fa-file-code-o"></i></a>

<script type="application/javascript">
    reloadModules();
</script>