<h1>Monitoring</h1>
<a class="btn btn-primary btn-nav" id="homeBtn" app="Home">Home</a>
<div>
    <p>This is a proccessed Value : Hello <span id="liveSpan"></span></p>
    <a class="btn btn-link" id="getValueBtn">Refresh</a>
</div>
<script>
    reloadModules();
    
    $('#getValueBtn').click(function(){
        $.ajax({
            url: '/cgi-bin/fakews.py',
            success: function(data){
                console.log(data)
                $('#liveSpan').text(data.message);
            }
        });
    });
    
</script>